@{
    ViewData["Title"] = "Subscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Films>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h1 class="title is-1 text-center">Subscription</h1>

<br />

<partial name="FragmentFilm"/>